* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Bebas Neue", sans-serif;
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --blue-color: #6889FF;
    --green-color: #B2DD9E;
    --purple-color: #7988BE;
}

body {
    background-color: var(--secondary-color);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    width: 80%;
    background: var(--green-color) url("./images/ff3c78e95733ace0d249eadbf541de224e5e4c39.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: screen;
    position: relative;
    z-index: -2;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo p {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 92%;
    color: var(--blue-color);
    background-color: var(--primary-color);
    padding: .6875rem .75rem;
    margin-left: -1.5em;
    text-transform: uppercase;
}

.logo span {
    color: var(--secondary-color);
}

nav img {
    z-index: 1000000;
    margin-right: .3em;
}

.nav-links {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 66%;
    background-color: #303853;
    z-index: 999999;
    padding: 2.5625rem;
    text-align: right;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.nav-links.show {
    transform: translateX(0);
}

ul {
    list-style: none;
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

a {
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
    text-align: right;
    font-weight: 400;
    font-size: 25px;
    line-height: 142%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
    width: 70%;
}

h1 {
    margin-bottom: 1.75rem;
    margin-top: 5.5rem;
}

.hero img {
    margin: 5.6875rem 0;
}

.purple {
    position: absolute;
    background-color: var(--purple-color);
    top: 0;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 100%;
    z-index: -1;
}

section.quote {
    width: 80%;
    background: #303853;
    height: 595px;
    position: relative;
    color: var(--secondary-color);
    padding: 3.8125rem 2.5625rem;
}

section.quote::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background: url("./images/7a175d37ce7b3d6ea97f84fd082b8945f2d2e875.jpg") no-repeat center;
    opacity: .17;
    background-size: cover;
    width: 100%;
    height: 100%;
}

blockquote {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}

.author {
    display: flex;
    align-items: center;
    gap: .5em;
}

section.quote hr {
    border: 1px solid var(--secondary-color);
    width: 28px;
}

section.footage {
    width: 80%;
    margin-top: 3.3125rem;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

section.footage h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 92%;
    margin-bottom: 1.75rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

section.footage p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    margin-bottom: 1.75rem;
    color: var(--primary-color);
}

section.footage p:last-of-type {
    margin-bottom: 0;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: auto;
}

.imag {
    width: 100%;
}

.imag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    margin-top: 1.5rem;
    background-color: var(--green-color);
}

footer .heading {
    width: 92%;
    background-color: #9FC88C;
    padding: 1.8125rem 1.5rem;
}

footer h3 {
    font-weight: 400;
    font-size: 27px;
    line-height: 92%;
    width: 80%;
    text-align: right;
}

footer .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.4375rem;
}

form {
    width: 80%;
}

.name {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
    margin-bottom: 1.5rem;
}

footer label {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 92%;
    color: var(--primary-color);
    text-transform: uppercase;
}

footer .name input {
    width: 100%;
    height: 52px;
    background-color: var(--secondary-color);
    border: none;
}

form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.3125rem 0;
    border: none;
    width: 100%;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 92%;
    text-transform: uppercase;
    cursor: pointer;
}

address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-top: 2rem;
}

address p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 92%;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: .5em;
    margin-bottom: 1.5rem;
}

.mobile-hide {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .hamburger {
        display: none;
    }

    .logo {
        font-size: 36px;
    }

    .nav-links {
        display: flex;
        height: 100px;
        width: 550px;
        background-color: transparent;
        top: 0;
        transform: translateX(0);
        position: unset;
        padding: 1rem;
    }

    .nav-links ul {
        flex-direction: row;
        margin-top: 0;
        padding: 0;
    }

    #close {
        display: none;
    }

    .purple {
        width: 40%;
    }

    .hero {
        position: relative;
    }

    .text {
        position: absolute;
        width: 50%;
        left: -10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 97px;
        text-align: left;
    }

    .hero p {
        font-size: 24px;
        line-height: 142%;
        text-align: left;
        width: 25rem;
    }

    section.quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    blockquote {
        font-size: 3.375rem;
        width: 47rem;
    }

    .author {
        justify-content: flex-start;
        width: 70%;
    }

    .author p {
        font-size: 1.5625rem;
        line-height: 100%;
    }

    hr {
        width: 28px;
    }

    section.footage {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-bottom: 50rem;
    }

    .footage-txt {
        position: absolute;
        left: -10%;
        width: 391px;
        z-index: 1;
    }

    section.footage h2 {
        font-size: 97px;
    }

    section.footage p {
        font-size: 24px;
    }

    .images {
        margin-top: -13em;
        position: absolute;
        right: 0;
    }

    .imag {
        height: 281px;
        width: 281px;
    }

    footer .heading {
        width: 55%;
    }

    footer .heading h3 {
        font-size: 64px;
    }

    footer .bottom-cont {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .bottom {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5em;
        width: 80%;
        margin-bottom: 3em;
    }

    form {
        width: auto;
    }

    footer .name input {
        width: 633px;
    }

    .mobile-hide {
        display: block;
    }

    .desktop-hide {
        display: none;
    }
}