* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Bebas Neue", sans-serif;
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --blue-color: #6889FF;
    --green-color: #B2DD9E;
    --purple-color: #7988BE;
}

body {
    background-color: var(--secondary-color);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    width: 80%;
    background: var(--green-color) url("./images/ff3c78e95733ace0d249eadbf541de224e5e4c39.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: screen;
    position: relative;
    z-index: -2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo p {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 92%;
    color: var(--blue-color);
    background-color: var(--primary-color);
    padding: .6875rem .75rem;
    margin-left: -1.5em;
    text-transform: uppercase;
}

.logo span {
    color: var(--secondary-color);
}

nav img {
    z-index: 1000000;
    margin-right: .3em;
}

ul {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
    width: 70%;
}

h1 {
    margin-bottom: 1.75rem;
    margin-top: 5.5rem;
}

.hero img {
    margin: 5.6875rem 0;
}

.purple {
    position: absolute;
    background-color: var(--purple-color);
    top: 0;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 100%;
    z-index: -1;
}

section.quote {
    width: 80%;
    background: #303853;
    height: 595px;
    position: relative;
    color: var(--secondary-color);
    padding: 3.8125rem 2.5625rem;
}

section.quote::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background: url("./images/7a175d37ce7b3d6ea97f84fd082b8945f2d2e875.jpg") no-repeat center;
    opacity: .17;
    background-size: cover;
    width: 100%;
    height: 100%;
}

blockquote {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}

.author {
    display: flex;
    align-items: center;
    gap: .5em;
}

section.quote hr {
    border: 1px solid var(--secondary-color);
    width: 28px;
}

section.footage {
    width: 80%;
    margin-top: 3.3125rem;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

section.footage h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 92%;
    margin-bottom: 1.75rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

section.footage p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    margin-bottom: 1.75rem;
    color: var(--primary-color);
}

section.footage p:last-of-type {
    margin-bottom: 0;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: auto;
}

.imag {
    width: 100%;
}

.imag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile-hide {
    display: none;
}