html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-bg);
}

button {
    background-color: var(--btn-bg);
    color: var(--btn-color);
    font-family: var(--font-family);
    padding: 1rem 2rem;
    border: none;
}

.button-border {
    padding: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--grad-color1), var(--grad-color2),
            var(--grad-color3), var(--grad-color4), var(--grad-color5));
}

.button-border:hover,
.button-border:focus {
    color: var(--btn-color-hover);
    height: 15%;
    padding: .4em;
    background: linear-gradient(270deg, var(--grad-color1), var(--grad-color2),
            var(--grad-color3), var(--grad-color4), var(--grad-color5));
}