* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Blinker", sans-serif;
}

body {
    font-size: 1.125rem;
}

img {
    width: 100%;
}

/* ==========
    typography
    ========== */
h1 {
    color: #05CBE9;
    font-size: 1.75rem;
    margin-bottom: 1.5em;
}

p {
    color: #FFFFFF;
    letter-spacing: 1px;
}

.card-foot p {
    font-size: 20px;
    opacity: .5;
}

span {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
}

a {
    background-color: #05CBE9;
    padding: 1em 2em;
    color: #111D4A;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    letter-spacing: 1px;
}


/* ==========
    layout
    ========== */
.container {
    display: flex;
    padding: 1em;
}

.card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.component-img {
    flex-basis: 300px;
    max-height: 30vh;
    object-fit: cover;
}

main {
    background-color: #111D4A;
    height: 40vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.card-foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}


/* ==========
    media queries
    ========== */

@media(max-width: 340px) {
    main {
        padding: 1em;
    }

    a {
        padding: .8em 1.6em;
    }
}

@media (min-width: 600px) {
    .container {
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    body {
        font-size: 1.3rem;
    }

    .card {
        flex-direction: row;
    }

    .component-img {
        min-height: 500px;
    }

    main {
        max-width: 600px;
        min-height: 500px;
    }

    h1 {
        font-size: 2.25rem;
    }
}