*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #F4F4F4;
    height: auto;
    padding: 2.5625rem 2.8125rem;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.left-col p {
    padding-top: 1rem;
}

.head-txt {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
}

p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #565656;
}

main {
    margin-top: 3em;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input input {
    border-radius: 36px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding-right: 30px;
    width: 100%;
    height: 100%;
}

.input {
    position: relative;
    height: 2.4375rem;
    width: 90%;
}

.input img {
    position: absolute;
    right: 1rem;
    top: 25%;
}

.right-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.label {
    display: none;
}

.filter {
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    top: 0;
    margin-top: 3rem;
    padding: 1.875rem 1.75rem;
}

.chk-cont {
    display: flex;
    gap: .5em;
    margin-bottom: 1.5rem;
}

.chk-cont:last-of-type {
    margin-bottom: 0;
}

.chk-cont label {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.cars {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    padding: .9rem 1.375rem;
}

.cars:hover {
    background-color: #FFFFFF;
    border-radius: 6px;
}

.address {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 100%;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.col-2 p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    margin-top: 0;
}

i {
    font-size: 2rem;
}

.address {
    margin-bottom: 1em;
}

.car-name {
    text-decoration: none;
    color: #008AD8;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
}


@media screen and (min-width: 1000px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}