*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: coral;
    width: 100vw;
}

.flag {
    display: flex;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
}

.side {
    height: 100%;
    width: calc(250px * 2/3);
}

.side-1 {
    background-color: blue;
}

.side-2 {
    background-color: white;
}

.side-3 {
    background-color: red;
}