* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

header,
section {
    padding: 25px 50px;
}

header,
.section-two {
    background-color: #2E354F;
}

.container,
h1 {
    width: 620px;
}

h1 {
    color: #FFF;
    font-weight: 900;
}

h2 {
    color: #EF5839;
    margin-bottom: 15px;
    font-weight: 700;
}

p {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400s;
}

strong {
    font-weight: 900;
}

a {
    color: #EF5839;
}

.section-two p {
    color: #FFF;
}

.links {
    display: inline-block;
    margin-top: 45px;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    margin-right: 20px;
}

.btn-orange {
    color: white;
    background-color: #EF5839;
}

.btn-orange:hover,
.btn-orange:focus {
    color: black;
    background-color: #FFF;
}

.btn-white {
    color: black;
    background-color: #FFF;
}

.btn-white:hover,
.btn-white:focus {
    color: white;
    background-color: #EF5839;
}