*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #221F26;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 111%;
    letter-spacing: -12%;
    font-family: "Poppins", sans-serif;
    color: #2D7DFF;
}