*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #FFFFFF linear-gradient(238.71deg, #BD00FF 7.63%, #00A3FF 117.53%);
    background-attachment: fixed;
    padding: 1em .5em;
}

.container {
    height: calc(100vh - 2em);
    background-color: #221F26;
    background-image: url("./images/illustration.jpg");
    background-size: cover;
    background-blend-mode: screen;
    border-radius: 13px;
    background-position: -100px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #2C2931;
    max-width: 300px;
    z-index: 1;
    transition: transform .3s;
}

aside img {
    margin: 3rem 4rem;
    height: 15px;
    transform: scaleX(1);
    transition: transform .3s;
    cursor: pointer;
}

aside img:hover {
    transform: scaleX(1) translateX(6px);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

li>a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 111%;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1.5rem 4rem;
}

.on {
    background-color: #4497FF;
    display: block;
    width: auto;
}

main {
    height: 100%;
}

nav {
    display: flex;
    position: relative;
}

nav img {
    position: absolute;
    left: 2rem;
    top: 2.25rem;
}

nav p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 111%;
    letter-spacing: -12%;
    color: #2D7DFF;
    width: 100%;
    text-transform: uppercase;
    display: inline-block;
}

.body {
    display: grid;
    place-items: center;
    height: 80%;
    padding-left: 2rem;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 89%;
    color: #FFFFFF;
}

p {
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    width: 70%;
    font-weight: 275;
    font-size: 34px;
    line-height: 111%;
    color: #847D93;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    margin-top: 3rem;
    border: 1px solid #4D4D4D;
    width: auto;
    padding: 2.5rem 4rem;
    position: relative;
}

button:before {
    position: absolute;
    content: "";
    background: url("./images/akar-icons_arrow-right.png") no-repeat;
    height: 1.5rem;
    width: 1.5rem;
    left: 1.25em;
}





@media only screen and (min-width: 700px) {
    aside {
        max-width: 500px;
        width: 25rem;
    }

    nav img {
        left: 10rem;
    }

    li>a {
        padding-left: 6rem;
    }

    aside img {
        margin-left: 6rem;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        display: flex;
    }

    aside {
        position: unset;
        bottom: 1em;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
        height: 100%;
    }

    aside img {
        display: none;
    }

    ul {
        padding-top: 6em;
    }

    nav {
        padding-left: 4rem;
    }

    nav img {
        display: none;
    }

    .logo {
        text-align: left;
    }

    .container {
        background: transparent;
    }

    main {
        background: #221F26 url("./images/illustration.jpg");
        background-size: cover;
        background-blend-mode: screen;
        width: 100%;
    }

    /*
    aside {
        transform: translateX(0);
        left: .5em;
        top: 1em;
        bottom: 1em;
    }
   */
}