*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #FFFFFF linear-gradient(238.71deg, #BD00FF 7.63%, #00A3FF 117.53%);
    background-attachment: fixed;
    padding: 1em .5em;
}

.container {
    height: calc(100vh - 2em);
    background-color: #221F26;
    background-image: url("./images/illustration.jpg");
    background-size: cover;
    background-blend-mode: screen;
    border-radius: 13px;
    background-position: -100px;
}

aside {
    height: 100%;
    background-color: #2C2931;
    max-width: 300px;
    z-index: 1;
}

aside img {
    margin: 3rem 4rem;
    height: 15px;
    transform: scaleX(1);
    transition: transform .3s;
    cursor: pointer;
}

aside img:hover {
    transform: scaleX(1) translateX(6px);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

li>a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 111%;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1.5rem 4rem;
}

.on {
    background-color: #4497FF;
    display: block;
    width: auto;
}

/*
.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(238.71deg, #BD00FF 7.63%, #00A3FF 117.53%);
    background-color: #221F26;
    background-image: url("./images/illustration.jpg");
    background-size: cover;
    background-blend-mode: screen;
    position: relative;
}

aside {
    display: none;
}

.active {
    position: absolute;
    width: 70%;
    background-color: #2C2931;
    height: 100vh;
    width: 70vw;
    padding: 4.375rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    display: block !important;
}

.active img {
    padding-left: 3.125rem;
}

.active ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

li {
    list-style: none;
}

.active li>a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 111%;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 3.125rem;
}

.active .on {
    background-color: #4497FF;
    width: 100%;
    padding: 20px 0;
}

.active .content {
    display: grid;
    place-items: left;
}

nav {
    display: flex;
    padding: 2.25rem 0 0 3rem;
    gap: 6rem;
    align-items: center;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 111%;
    letter-spacing: -12%;
    font-family: "Poppins", sans-serif;
    color: #2D7DFF;
}

main {
    margin: 18.875rem 0 0 3.6875rem;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 89%;
    color: #FFFFFF;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 275;
    font-size: 34px;
    line-height: 111%;
    color: #847D93;
    margin-top: 2.3125rem;
    width: 331px;
}

.btn-cont {
    margin-top: 2.875rem;
    border: 1px solid #4D4D4D;
    width: auto;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    gap: .5em;
    width: 223px;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 1024px; ) {}
*/