* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* ==========
    GLOBAL STYLES
    ========== */

img {
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 1em repeat(3, 1fr) 1em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ==========
    typography
    ========== */

h1,
h3,
strong,
span,
.btn {
    font-weight: 700;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.2;
}

h3 {
    margin-top: 2em;
    font-size: 1.125rem;
}

h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #FFE600;
    justify-self: center;
    margin: .25em 0 1em;
}

strong {
    color: #FFE600;
}

.hero p {
    color: #FFFFFF;
    margin: 2em 0;
}

.p-strong {
    color: #FFFFFF;
}

.btn {
    display: inline-block;
    padding: 1em 2em;
    background-color: #FFE600;
    text-decoration: none;
    color: #000000;
    font-size: .875rem;
    letter-spacing: 1px;
}


/* ==========
    header section
    ========== */
header {
    background: url(img/hero-bg.jpg) black no-repeat bottom right;
    background-position: center;
    background-size: cover;
    padding: 4em 0;
    position: relative;
}

/* nav section */
nav {
    display: flex;
    grid-column: 2 / 4;
    background-color: aqua;
    align-self: start;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    background-color: #FFE600;
    grid-column: 2 / 3;
    height: 70px;
    width: 192px;
    display: flex;
    align-items: flex-end;
}

/* hero section*/

.hero {
    grid-column: 2 / 4;
}

h1 {
    color: white;
}

.footer-txt p {
    margin: 2em 0;
}

/* ==========
    main section
    ========== */

/* info section*/

.columns {
    text-align: center;
}

.col {
    grid-column: 2 / -2;
}


/* ==========
    footer section
    ========== */

footer {
    background-color: #EBEBEB;
    margin-top: 3em;
}

.footer-grid {
    grid-template-areas:
        ". socials socials socials ."
        ". footer-txt footer-txt footer-txt .";
}

.footer-logo {
    max-width: 190px;
}

.footer-txt {
    grid-area: footer-txt;
    text-align: center;
    opacity: .50;
}

footer .copyright-text {
    opacity: .50;
}

.socials {
    grid-area: socials;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin: 3em 0 2em;
}

.social-link {
    color: #000000;
    font-size: 2rem;
}