* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

img {
    width: 100%;
}

/* =================
   Typography
   ================= */

h2,
h3,
strong,
.primary-btn {
    font-weight: 900;
}

h1 {
    color: white;
    font-weight: 300;
    font-size: 2.25rem;
}

h1+p {
    order: -1;
    font-size: 0.725rem;
    border-top: 5px solid #F18119;
}

h2 {
    font-size: 1.5125rem;
}

h3 {
    color: #F18119;
    font-size: 1.325rem;
}

p {
    color: #F18119;
    font-size: 1rem;
}

.intro p:last-of-type {
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main p {
    color: #5A5A5A;
    padding: 2em 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.oath {
    padding: 0 1em;
}

/* ===============
    Layout
    =============== */

.container {
    height: 100vh;
    text-align: center;
}

.intro {
    background: url("./images/dark-ribs.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 2em;
    height: 40vh;
}

.intro,
main {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 400px;
    margin: 0 auto;
}

.intro .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    padding: 4em 0;
}

/* ===============
    Form
    =============== */

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0 2em;
}

input {
    border: 1px solid #818181;
    padding: 1em;
    text-align: inherit;
    border-radius: 7px;
    transform: scale(1);
    transition: transform .3s;
}

input:focus {
    transform: scale(1.1);
}

input::placeholder {
    color: #404040;
    font-size: 1.1rem;
}

.primary-btn {
    background: linear-gradient(to left, #FF713B, #FFA51D);
    border: none;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    padding: 1.2em;
    letter-spacing: 2px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s;
}

.primary-btn:hover,
.primary-btn:focus {
    transform: scale(1.1);
}

/* ===============
    Media Queries
    =============== */

@media (min-width:1000px) {
    .container {
        display: flex;
        font-size: 1.3rem;
    }

    .intro,
    main {
        height: 100vh;
        width: 50%;
    }

    .intro {
        padding-bottom: 10em;
    }

    .content {
        max-width: 500px;
    }

    main {
        align-items: center;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}