/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

section {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 3em 0;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 90%;
    max-width: 900px;
}

.logo {
    margin-bottom: 1.3em;
}

h1 {
    margin-bottom: .125em;
    font-size: 2rem;
    font-family: 'Lora', serif;
    font-weight: 400;
}

.logo p {
    font-size: .75rem;
    color: #1792D2;
    text-transform: uppercase;
}

nav a {
    color: #707070;
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: .25em;
}

nav a:hover,
nav a:focus {
    color: #1792D2;
}

.current-tab {
    border-bottom: 1px solid #707070;
}

.current-tab:hover,
.current-tab:focus {
    border-bottom: 1px solid #1792D2;
}

.logo {
    text-align: left;
}