/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-direction: column;
    padding: 2em 0;
}

h1 {
    margin-bottom: .125em;
    font-size: 1.6rem;
    font-family: 'Lora', serif;
    font-weight: 400;
}

nav a {
    color: #707070;
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: .25em;
}

nav a:hover,
nav a:focus {
    color: #1792D2;
}

.container {
    background-color: white;
    width: 100%;
}

.section-1 {
    background-color: #f8f8f8;
}

.logo {
    margin-bottom: 1.5em;
    text-align: center;
}

.logo p {
    font-size: .75rem;
    color: #1792D2;
    text-transform: uppercase;
    letter-spacing: 1.7;
}

.current-tab {
    border-bottom: 1px solid #707070;
}

.current-tab:hover,
.current-tab:focus {
    border-bottom: 1px solid #1792D2;
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding: 3em 1em;
}

/*===========
 *  Article
    ===========*/

/*Featured article in the about page*/

.featured-image-2 {
    max-height: 350px;
    object-fit: cover;
}

.article-featured-about {
    border-bottom: none !important;
}

.article-title-2 {
    margin: 2em 0 1.5em 0 !important;
}

h3 {
    color: #1792D2;
    font-weight: 400;
    margin: 1.5em 0;
}

/* about page end*/

article {
    text-align: left;
}

span {
    color: #707070;
    font-weight: 700;
}

.article-featured {
    border-bottom: 1px solid #707070;
    padding-bottom: 2.5em;
}

.featured-image,
.other-image {
    margin-bottom: 1em;
    object-fit: cover;
}

.article-info {
    color: #707070;
    font-size: .875rem;
}

.article-other .article-info {
    text-align: right;
}

.article-title {
    color: #143774;
    font-size: 1.5rem;
    margin-top: .7em;
    font-weight: 400;
}

.article-content {
    color: #707070;
    font-size: 1.125rem;
    letter-spacing: 1.5;
    margin-top: 1em;
    line-height: 1.5;
}

.article-content a {
    color: #1792D2;
}

.continue-reading {
    color: #1792D2;
    font-weight: 700;
    font-size: 1.125rem;
    margin-top: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-top: 1em;
}

.article-other {
    margin-top: 3em;
}


/*===========
 *  Aside nav
    ===========*/

aside {
    margin-top: 4em;
    background-color: #EBEBEB;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: #143774;
    width: 100%;
}

aside:nth-child(1) .widget-title {
    padding: 0;
    display: none;
}

.sidebar-widget {
    background-color: #FFFFFF;
    padding: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    padding-bottom: 2em;
}

.widget-recent-post:last-child {
    border-bottom: none;
    padding-bottom: 1em;
}

.widget-image {
    order: -1;
    margin-bottom: 1em;
    max-height: 90px;
    object-fit: cover;
}

.top-widget-image {
    order: 0;
    margin-bottom: 0;
}

footer {
    background-color: #143774;
    text-align: center;
    padding: 3em 0;
    margin: 0;
}

footer p {
    color: #FFFFFF;
    opacity: 54%;
}

footer .bold {
    font-weight: 700;
    font-size: 1.125rem;
    opacity: 87%;
    margin-bottom: .5em;
}

@media (min-width: 500px) and (max-width: 1000px) {
    .article-title {
        margin-top: -15px;
    }

    .article-title-2 {
        margin-top: 1em;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2 {
        max-width: 90%;
        padding: 3em 0;
    }

    nav {
        flex-direction: row;
        max-width: 1400px;
    }

    .logo {
        text-align: left;
    }

    ul {
        flex-direction: row;
        gap: 2em;
    }

    .section-2 {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    main {
        width: 70%;
    }

    .article-other {
        display: flex;
        justify-content: space-between;
    }

    .left {
        width: 35%;
    }

    .article-other .article-info {
        text-align: left;
    }

    .right {
        width: 60%;
    }

    .other-image {
        max-height: 300px;
        object-fit: cover;
    }

    aside {
        margin: 0;
        width: 25%;
    }
}