* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 3em;
}

.box {
    height: 40px;
    width: 40px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.box {
    animation: expand 9.5s cubic-bezier(.17, .67, 1, .49) 0.5s infinite both;
    /*animation: expand 9.5s ease-in-out 0.5s infinite both;*/
}

@keyframes expand {
    100% {
        transform: translate(50px, 0) scale(0, 0) skew(180deg, 0deg) rotate(45deg);
    }

    0% {
        transform: translate(0, 0) scale(1, 1) skew(0deg, 0deg) rotate(0deg);
    }
}