@font-face {
    font-family: "orange";
    src: url("orange-lemonade.regular.otf");
}

body {
    text-align: center;
    margin: 0;
    font-family: "orange";
}

.hero {
    font-family: "orange";
    background-image: url("https://global.ariseplay.com/amg/www.thisdaylive.com/uploads/LAGOS.jpg");
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.hero a {
    font-family: "orange";
    letter-spacing: 5.5;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    text-decoration: none;
    background-color: #1D3557;
    color: inherit;
    padding: 10px 20px;
    border-radius: 5px;
}

.hero a:hover,
.hero a:focus {
    color: #FFFFFF;
    background-color: transparent;
    text-shadow: 0px 0px 5px black;
}

.hero p {
    font-family: Arial;
    font-weight: 700;
    font-size: 21.72px;
    line-height: 100%;
    background-color: #457B9D;
    padding: 10px 20px;
    border-radius: 5px;
}

main {
    padding: 40px 80px;
    background-color: #F1FAEE;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main h3 {
    font-family: Arial;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #1D3557;
}

.rows {
    display: flex;
    justify-content: center;
    gap: 5em;
}

img {
    border-radius: 50%;
    background-size: cover;
}

main h5 {
    font-family: Arial;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #1D3557;
}

main p {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #1D3557;
}

footer {
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card {
    width: 500px;
    height: 344px;
    background-color: #A8DADC;
    box-shadow: 0px 6px 0px #1D3557;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 80px auto;
}

footer img {
    border-radius: 10px;
    width: 200px;
    height: 248px;
}

.right {
    width: 50%;
    color: #1D3557;
}

footer h4 {
    font-family: Arial;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}

footer p {
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

.bold {
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}